<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="689378ca-f80f-48cf-8ec7-79e332a6b816"
    data-share-badge-host="https://www.credly.com"></div>
  <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1c69a431-6808-4949-af0b-670988504d39"
    data-share-badge-host="https://www.credly.com"></div>
  <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="bafb22c6-2579-4aac-a73c-50f72ab1fa53"
    data-share-badge-host="https://www.credly.com"></div>
  <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
</div>

<div class="user-details">
  <h1>My Talks</h1>
  <p>My Recorded Talks</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/SySIVdpPAqI?si=NfD3OzEB53CbuQ0I&amp;start=1204"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/loNeKvNbQCg?si=IT2QoOvI11IYkvfJ&amp;start=3275"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>