<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <a target="_blank" rel="noopener noreferrer" href="https://www.youracclaim.com/badges/689378ca-f80f-48cf-8ec7-79e332a6b816">
    <img src="assets/pics/logo_cka.png" class="badge" alt="CKA Logo"/>
  </a>
  <!-- TODO update link of CKAD badge as soon as I get the new cred badge added to my Acclaim profile -->
  <a target="_blank" rel="noopener noreferrer" href="https://moshe.shitrit.co">
    <img src="assets/pics/logo_ckad.png" class="badge" alt="CKAD Logo"/>
  </a>
</div>

